nav {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav a {
  color: #646cff;
  font-size: 1.2rem;
  margin: 0 1.5rem;
  text-decoration: none;
  padding: 0.5rem;
  transition: color 300ms, background-color 300ms;
}

nav a:hover {
  color: #61dafb;
  background-color: rgba(100, 108, 255, 0.1);
  border-radius: 5px;
}

nav a.active {
  color: #fff;
  background-color: #646cff;
  border-radius: 5px;
}

@media (max-width: 768px) {
  nav {
    padding: 1rem;
  }

  nav a {
    display: block;
    margin: 0.5rem 0;
  }
}
